.comentario {
    margin-left: 2.8%;
}
.modalCrearEncuesta_Contenedorbutton{
    display: flex;
    margin-left: 1.5%;
}
.modalCrearEncuesta_button{
    margin: 0.5rem;
    padding: 0.5rem;
    border: solid 1px;
    border-radius: 0.5rem;
    background-color: #fff;
    color: #3F3F3F;
    cursor: pointer;
    width: 43.5%;
    padding-top: 3%;
    padding-bottom: 3%;
}