.container-resultadoOpcionMultiple{
    border: solid 1px #b8b8b8;
    width: 92.3%;
    margin-left: 1.8%;
    border-radius: 5px;
    margin-top: 1.5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}
